torch --index-url https://download.pytorch.org/whl/cu121
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio --index-url https://download.pytorch.org/whl/cu121
pandas
numpy
matplotlib
transformers
transformers[torch]
datasets
tqdm
emoji
nltk
scikit-learn
evaluate